.grid {
    background-color: blue;
    height: 500px;
    width: 500px;
    display: flex;
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    background-color: red;
    color: white;
}

.blank {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    padding: 5px;
    text-align: center;
    background-color: black;
}

.vword {
    display: flex;
    flex-direction: column;
}

.hword {
    display: flex;
    flex-direction: row;
}

.offsety {
    margin-left: 32px;
}

.offsetx {
    margin-top: 32px;
}

.negoffsetx {
    margin-left: -64px;
}

.negoffsety {
    margin-top: 0px;
}
