.grid_container {
    margin: 0 auto;
    text-align: center;
}
.crossword__grid {
    background-color: lightgrey;
    /*use a variable*/
}

*:focus {
    outline: none;
}

.word {
    border: 1px solid red;
}

.input {
    background-color: transparent;
    font-size: 8px;
    border: 0;
    padding: 2px;
    text-transform: uppercase;
}

.small {
    font: 3px sans-serif;
    text-transform: uppercase;
}

.heavy {
    font: bold 7px sans-serif;
    text-transform: uppercase;
}

.current {
    z-index: 999;
}

.cell {
    border: 1px solid red;
}

.clueleft {
    font-size: 0.8em;
    width: 50%;
}

.clue:hover {
    cursor: pointer;
}

.editing {
    background-color: rgba(0, 20, 15, 0.8);
    color: rgba(0, 200, 150, 0.9);
}

li {
    margin-left: 10px;
    padding: 2px;
    text-align: left;
}

.buttons {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    text-align: center;
    padding: 10px 15px;
    margin: 5px;
    font-size: 12px;
    background-color: #efefef;
    border-radius: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 200, 150, 0.3);
}
