#root {
}

.CW-container {
    background-image: linear-gradient(to bottom, #cfd9df 0%, #e2ebf0 100%);
    /* border: 1px solid #c9ccd3; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* width: 80vw; */
}

.grid_container {
    /* margin: 0 auto;
    text-align: center; */
}

*:focus {
    outline: none;
}

.input {
    background-color: transparent;
    font-size: 8px;
    border: 0;
    padding: 2px;
    text-transform: uppercase;
}

.small {
    font: 3px sans-serif;
    text-transform: uppercase;
}

.heavy {
    font: bold 7px sans-serif;
    text-transform: uppercase;
}

.current {
    z-index: 999;
}

.clueleft {
    font-size: 0.8em;
    width: 50%;
    margin: 0 auto;
}

.clue:hover {
    cursor: pointer;
}

.editing {
    background-color: rgba(255, 200, 111, 0.5);
    border: 1px solid rgb(253, 180, 61);
    /*background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        radial-gradient(
            at 50% 0%,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(0, 0, 0, 0.5) 50%
        ); */
    /* background-blend-mode: soft-light, screen; */
    border-radius: 4px;
    color: rgba(0, 20, 15, 0.9);
}

.clues li {
    padding: 8px;
}

.button {
    text-align: center;
    padding: 5px 7px;
    margin: 8px;
    font-size: 14px;
    background-color: hsl(0, 0%, 94%);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    cursor: pointer;
    opacity: 0.9;
}

.dbg-button {
    text-align: center;
    background-color: hsl(78, 100%, 78%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    cursor: pointer;
    opacity: 0.9;
    padding: 5px 7px;
    margin: 4px;
    font-size: 10px;
}

/* .button:hover {
    background-color: rgba(0, 200, 250, 0.5);
} */

.buttons {
    margin-top: auto; /*sticky to bottom*/

    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #c9ccd3;
    background-image: linear-gradient(
        -180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background-blend-mode: lighten;
    -webkit-box-shadow: 0px -6px 29px -7px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -6px 29px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -6px 29px -7px rgba(0, 0, 0, 0.2);
}

.clear-all {
    background-color: rgba(255, 0, 43, 0.4);
    border: 1px solid rgb(170, 24, 48);
    /* color: white; */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.check-all {
    background-color: rgba(105, 243, 6, 0.4);
    border: 1px solid rgb(24, 170, 48);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.clues {
    padding: 5px;
    overflow: scroll;
    /* border: 1px solid #c9ccd3; */
}

#debugger {
    background-color: rgb(215, 233, 250);
    padding: 3px;
}
#mydivheader {
    background-color: rgb(153, 218, 255);
    border-radius: 4px;
    padding: 3px;
    font-size: 12px;
}

.hide {
    display: none;
}
